.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0rem 2rem;
  font-family: var(--font-default);
  background: #a8b2ba;
  background: #02171f;
  background: #02171f;
  background: linear-gradient(
    162deg,
    rgba(2, 23, 31, 1) 0%,
    rgba(55, 59, 82, 1) 47%,
    rgba(123, 127, 138, 1) 100%
  );
  background-repeat: no-repeat;
  color: var(--color-dark-mode);
  height: 100vh;
  transition:
    background-color 2s ease,
    color 1s ease;
}

.light {
  color: black;
  background: #a4cede;
  background: linear-gradient(
    162deg,
    rgba(164, 206, 222, 1) 0%,
    rgba(172, 182, 230, 1) 17%,
    rgba(225, 228, 237, 1) 67%
  );
}
