button {
  background-color: var(--link-color);
  padding: 1.2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  border: none;
}

button:hover {
  background-color: var(--link-hover);
  transition: ease-in 0.15s;
  cursor: pointer;
}

.cardMenuContainer a {
  color: var(--color-dark-mode);
}
