.cicle {
  height: 1.5rem;
  width: 1.5rem;

  border-radius: 50%;
  background-color: var(--success);
}

.cicle:hover {
  outline: 1px solid white;
  filter: saturate(150%);
  transition: ease-in-out 100ms;
}

.work {
  background-color: var(--success);
}

.short {
  background-color: var(--warning);
}

.long {
  background-color: var(--info);
}
