.cicle {
  height: 1.5rem;
  width:  1.5rem;
  border-radius: 50%;
  background-color: var(--success)
}

.work {
  background-color: var(--success);
}

.short {
  background-color: var(--warning)
}

.long {
  background-color: var(--info)
}